.PlatziVideo {
  /*max-width: 1024px;*/
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
}

.PlatziVideo-left {
  background: #171b2f;
  width: 350px;
  flex-shrink: 0;
}

.PlatziVideo-right {
  overflow: hidden;
}
